* {
    font-family: inter;
}

.wrapper {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 1000px;
    height: 932px;
    border: 1px solid #D8D9DA;
    border-radius: 20px;
}

.wrapperItem {
    display: grid;
    grid-template-columns: 370px 1fr;
}



.wrapperLeftItem {
    display: grid;
    border-right: 1px solid #D8D9DA;
}

.wrapperTitle {
    text-align: center;
    margin-top: 38px;
}


.newNoteButton {
    display: grid;
    justify-content: center;
    justify-self: center;
    margin-top: 53px;
}

.newNoteButtonItem:hover {
    cursor: pointer;
}

.newNoteButtonItem {
    background-color: #4499FF;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

.tags {
    margin-top: 53px;
}

.TagsTitle {
    font-size: 30px;
    margin-left: 30px;
}

.TagsItem {
    font-size: 25px;
}

.TagsItems {
    display: grid;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

.TagsButton {
    margin-right: 40px;
    font-size: 25px;
}

.TagsList>button {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 53px;
    text-align: left;
}

.TagsList>.TagsButton:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.wrapperRightItem {
    border-left: 1px solid #F0F0F0;
}

.SearchItemsItem>input {
    width: 512px;
    height: 50px;
    border-radius: 10px;
    background-color: #FCFCFD;
    border: 1px solid #E3E3E2;
    font-size: 20px;
}


.SearchItemsItem>button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #4499FF;
    border-radius: 10px;
}

.SearchItemsItem>button:hover {
    cursor: pointer;
}

.SearchItemsItem {
    display: flex;
    gap: 11px;
    justify-content: center;
    margin-top: 36px;
}

.NoteBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 53px;
    justify-self: center;
}

.NoteBoxItem {
    width: 573px;
    height: 113px;
    border: 1px solid#E3E2E5;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.NoteTitle {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-start;
    overflow: fit-content;
    margin-left: 20px;
    margin-top: 10px;
}

.NoteTag {
    font-size: 15px;
    position: absolute;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    background-color: #F5F7F7;
    padding: 5px;
    border-radius: 10px;
    width: 84px;
    height: 28px;
    text-align: center;
}


.NoteData {
    margin-bottom: 10px;
    margin-left: 20px;
}


.overlayClosed {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
}

.overlayOpened {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
}

.modal {
    background: white;
    width: 600px;
    height: 150px;
    padding: 30px;
    position: relative;
    border-radius: 20px;
}


.ModalClose {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #4499FF;
    color: white;
    border: none;
    right: 0;
    top: 0;
    border-radius: 10px 20px 0 10px;
}

.ModalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.ModalInput {
    border-radius: 10px;
    border: 1px solid #D8D9DA;
    padding: 10px;
    font-size: 15px;
}



.ModalSelect {
    border-radius: 10px;
    border: 1px solid #D8D9DA;
    padding: 10px;
    font-size: 15px;
}

.ModalButtonSave {
    background: #4499FF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}